html {
  scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
}
header{
    margin: 0px;
    height: 10vh;
    width: 100vw;
    display:block;
    background-image: url('');
    background-repeat:  no-repeat;
    background-size: cover;
     background-color: rgb(82, 74, 74);
     filter: opacity(80%);
}

#menu {
    height: 90vh;
    width: 30vw;
    display: flex;
    position: fixed;
    top: 10vh;
    flex-direction: column;
    align-items: center;
    background-image: url('nav.jpeg');
    background-size: cover;
    ;
}

#nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#det {
    height: 90vh;
    width: 70vw;
    background-color:transparent;
    left: 30vw;
    position: fixed;
    overflow-y: scroll;
}

#profile{
    height: 90vh;
    width: 70vw;
    background-color: rgb(22, 141, 125);
    left: 30vw;
    position: fixed;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
     /*    none */
}

#profile h2 {

}

#profile p {
    font-size: x-large;
}
/* Preview Image */
#previewImg {
    cursor: pointer;
    max-width: 300px;
    height: 400px;
    width: 300px;
    border-radius: 50px;
    margin-top: 100px;
    position: relative;
    border-style: double ;
    display: flex ;
}

/* Modal Background */
#imageview {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

/* Close Button */
#close {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* Modal Image */
#modalImg {
    max-width: 80vw;
    max-height: 80vh;
    box-shadow: 0 0 20px #000;
}

#btn1 {
    height: 50px;
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border:solid 5px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}

#nav {
    justify-content: center;
    align-self: center;
    display:flex;
    flex-direction: column;
    color: rgb(104, 77, 77);
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin:0px;
    padding:px;
 }

#list {
    margin-top: 90px;
    width: 350px;
    height: 69vh;
    flex-direction: column;
    align-items: center;      /* centers items horizontally */
    justify-content: center;  /* centers items vertically */
    background-color: rgb(0, 0, 0);
    background-size: contain;
    border-radius: 30px;
    display: none;
}

#list li {
    width: 360px;
    height: 60px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 5px;
    border-radius: 30px;
    margin: 5px;
    margin-right: 45px;
    background-color: transparent;  /* FIX */
}



#list li a:hover {
    background-color: rgb(2, 2, 2);
    color: white;
    transition: 0.3s ease;
}


#nav ul li a {
    display: flex;              /* ADD THIS */
    justify-content: center;    /* ADD THIS */
    align-items: center;        /* ADD THIS */
    width: 100%;                /* IMPORTANT */
    height: 100%;               /* IMPORTANT */
    border-radius: 25px;
    color: white;
    text-decoration: none;
}



#nav ul li a.active-link {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: #808080 5px solid;
    font-size: x-large;
    transition: 0.3s ease;  


}

#homepage {
     display: flex;
    justify-content: center;
    height: 90vh; 
    width: 70vw;
    min-height: 200px;
    box-sizing: border-box;
    position: static;
    left: unset;
    color: white;
    text-shadow: rgb(167, 184, 167) 1px 1px;
    background-image: url('quali.jpg');
    background-size: cover;
}

#QUALIFICATION {
    display: flex;
    justify-content: center;
    height: 90vh; 
    width: 70vw;
    min-height: 200px;
    box-sizing: border-box;
    position: static;
    left: unset;
    color: white;
    text-shadow: rgb(167, 184, 167) 1px 1px;
    background-image: url('quali.jpg');
    background-size: cover;
}

#quali {
    font-size: x-large;
    margin-top: 150px;
    display: flex;
    flex-direction: column;

}

#EXPERIENCE {
    display: flex;
    height: 90vh; 
    width: 70vw;
    min-height: 200px;
    box-sizing: border-box;
    position: static;
    left: unset;
    background-image: url("exp.jpeg");
    color: white;
    background-size: cover;
}

#exp {
    font-size: x-large;
    margin: 20px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

#exp a {
    text-decoration: none;
}

#SKILLS {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    box-sizing: border-box; height: 90vh; 
    width: 70vw;
    background-image: url("skill.jpg");
}

#SKILLS ul {
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    list-style: none;
    color: white;
    
}



#imageset {
    margin: 0px;
    background-color: transparent;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#imageset img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

#PROJECTS {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    height: 90vh;
    width: 70vw;
    text-decoration: none;
    align-items: flex-start;   
    background-image: url('project.jpeg');  
    background-size: cover    
    }

#CONTACT {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    height: 90vh;
    width: 70vw;
    justify-content: center;
    align-items: center;
    text-decoration: none;    
    background-image: url('contact.jpg');
    background-size: cover;
}

#CONTACT li {
    color: antiquewhite;
}

    

#cv {
    height: 50px;
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border:solid 5px;
    border-radius: 20px;
    cursor: pointer;
    justify-content: center;
    
}